<div id="checkout-summary" class="col-lg-3 col-md-5" style="max-width: 380px;">
  <div class="panel p-3">
    <h3>Current Order</h3>
    <div class="d-flex justify-content-between text-muted mb-2">
      <span></span>
      <a href="#" id="clear-cart" class="btn btn-danger text-muted text-decoration-none">{{ text_clear_all }}</a>
    </div>

    {% if products %}
    <div class="order-line-wrapper">
      {% for product in products %}
      <div class="order-line">
        <div class="thumb">
          <img src="{{ product.thumb }}" alt="{{ product.name }}" style="width:28px;height:28px;border-radius:50%;">
        </div>
        <div class="flex-grow-1">
          <div class="name text-start">{{ product.name }}</div>

          {# Tampilkan option kalau ada #}
          {% if product.option %}
          <div class="text-muted small">
            {% for option in product.option %}
            <div>- {{ option.name }}: {{ option.value }}</div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="qty">
            <button class="qty-minus" data-qty="{{ product.quantity - 1 }}" data-key="{{ product.cart_id }}">-</button>
            <span>{{ product.quantity }}</span>
            <button class="qty-plus" data-qty="{{ product.quantity + 1 }}" data-key="{{ product.cart_id }}">+</button>
          </div>
        </div>
        <div class="price-sm">{{ product.total }}</div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">{{ text_empty_cart }}</p>
    {% endif %}

    <div class="summary">
      {% for total in totals %}
      {% if total.code == 'total' %}
      <div class="total"><span>{{ total.title }}</span><span>{{ total.value }}</span></div>
      {% else %}
      <div class="subtotal"><span>{{ total.title }}</span><span>{{ total.value }}</span></div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="pay mt-3">
      {% if shipping_methods and shipping_required %}
      <h4>Shipping Method</h4>
      <div class="row row-cols-3 g-2 mb-3 shipping-methods">
        {% for shipping_method in shipping_methods %}
        {% if not shipping_method.error %}
        {% for quote in shipping_method.quote %}
        <div class="col">
          <button data-original-title="{{ quote.short_title }} - {{ quote.text }}" class="shippingbtn w-100 {% if quote.code == default_shipping %}active{% endif %}" data-code="{{ quote.code }}">
            <i class="bi bi-truck"></i>
            <span>{{ quote.title|split(' ')[0] }} - {{ quote.text }}</span>
          </button>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="shipping-error-container"></div>
      {% endif %}
      {% if payment_methods %}
      <h4>Payment Method</h4>
      <div class="row row-cols-3 g-2 mb-3 shipping-methods">
        {% for payment_method in payment_methods %}
        <div class="col">
          <button data-original-title="{{ payment_method.title }}" class="paybtn w-100 {% if payment_method.code == default_payment %}active{% endif %}" data-code="{{ payment_method.code }}">
            <i class="bi bi-credit-card"></i><span>{{ payment_method.title|split(' ')[0] }}</span>
          </button>
        </div>
        {% endfor %}
      </div>
      <div class="payment-error-container"></div>
      {% endif %}
      <h4>Customer</h4>
      {% set current_customer = customer_name|default('Guest Customer') %}
      <div class="row row-cols-3 g-2 mb-3">
        <div class="col">
          <button type="button" id="pos-current-customer" data-original-title="{{ customer_name.title }}" data-customer-id="{{ customer_id }}" data-action="customer" class="mini-btn customer-btn w-100 active"
                  data-customer-name="{{ current_customer }}">
            <i class="bi bi-person" style="margin-right:6px;"></i>
              <span>{{ current_customer }}</span>
            <i class="bi bi-pencil-square"></i>
          </button>
        </div>
      </div>
      <!-- Tombol -->
      <div class="action-row">
        <div class="mini-buttons">
          <button type="button" data-action="customer" class="mini-btn">
            <i class="bi bi-person" style="margin-right:6px;"></i> <span>Customer</span>
          </button>
          <button type="button" data-action="discount" class="mini-btn">
            <i class="bi bi-tags-fill" style="margin-right:6px;"></i> <span>Discount</span>
          </button>
          <button type="button" data-action="charge" class="mini-btn">
            <i class="bi bi-cash-coin" style="margin-right:6px;"></i> <span>Charge</span>
          </button>
          <button type="button" data-action="coupon" class="mini-btn">
            <i class="bi bi-ticket-perforated" style="margin-right:6px;"></i> <span>Coupon</span>
          </button>
        </div>

        <button class="checkout-btn print"><i class="bi bi-cart-check" style="font-size: 20px;"></i> {{ text_checkout }}</button>
      </div>

    </div>
  </div>
</div>
