<section id="product-categories" class="panel catalog" aria-labelledby="catalog-title">
	<div class="head">
		<h3 id="catalog-title">{{ text_products }}</h3>
		<div class="filters" role="tablist" aria-label="Category filters">
			<button class="btn is-active" data-id="0" data-cat="all" role="tab" aria-selected="true">{{ text_all }}</button>

			{% if categories %}
			{% for category in categories %}
			<button class="btn {% if category_id == category.id %}is-active{% endif %}" data-id="{{ category.id }}" data-cat="{{ category.name }}" role="tab">{{ category.name }}</button>
			{% endfor %}
			{% endif %}
		</div>

	</div>
	<div class="body">
		<div class="grid" id="catalogGrid" aria-live="polite">
			{% for product in products %}
			<article data-id="{{ product.product_id }}" class="card product-item" data-name="{{ product.name }}" data-price="{{ product.price }}">
				<div class="thumb">
					<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="plate img-responsive"></div>
				<div class="meta">
					<div class="name">{{ product.name }}</div>
					<div class="row2">
						<span class="stock">{{ text_stock }}: {{ product.stock }}</span>
						<span class="price">{{ product.price }}</span></div>
					<!--				<button class="add">+ Add</button>-->
				</div>
			</article>
			{% endfor %}
		</div>

		{% if pagination %}
		<div class="home-paginate" id="products_paginate">
			{{ pagination|raw }}
		</div>
		{% endif %}

	</div>
</section>
