{% if languages|length > 1 %}
<div class="dropdown">
  <button class="icon-btn dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    {% for language in languages %}
      {% if language.code == code %} 
      <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">
      {% endif %}
      {% endfor %}
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
    {% for language in languages %}
    <li>
      <button type="submit" name="code" value="{{ language.code }}" form="form-language" class="dropdown-item d-flex align-items-center">
        <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" class="me-2" style="height:14px;">
        {{ language.name }}
      </button>
    </li>
    {% endfor %}
  </ul>
</div>

<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
  <input type="hidden" name="redirect" value="{{ redirect }}" />
</form>
{% endif %}