<main class="invoice-wrap container-fluid px-3 px-md-4">
      <div class="row align-items-start invoice-head mb-4">
        <div class="col-lg-8 d-flex align-items-center justify-content-between">
          
          <div class="d-flex justify-content-end gap-2">
            <a href="{{ link_wa }}" target="_blank" class="btn btn-success btn-sm pay-now">Send WhatsApp</a>
            <a onclick="window.print();return false;" class="btn btn-primary btn-sm pay-now">Print Receipt</a>
          </div>

        </div>
        <div class="col-lg-4 d-none d-lg-flex justify-content-end align-items-center gap-2">
          <span class="badge badge-soft-pill badge-pending">{{ order.status }}</span>
        </div>
      </div>

      <div class="row g-4">
        <!-- LEFT: Invoice body -->
        <div class="col-lg-8">
          <div class="d-flex flex-wrap gap-5 mb-4">
            <div class="me-auto">
              <div class="fs-6 fw-bold">Order Completed #{{ order.order_id }}</div>
            </div>
          </div>

          <!--
<div class="row g-4">
<div class="col-sm-6">
<div class="invoice-meta">
<div class="fw-semibold">Issue Date:</div>
<div>12 Apr 2021</div>
</div>
</div>
<div class="col-sm-6">
<div class="invoice-meta">
<div class="fw-semibold">Due Date:</div>
<div>02 May 2021
<span class="text-danger">• Due in 7 days</span>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="mt-3">
<div class="fw-semibold mb-1">Issue For:</div>
<div class="fw-bold">KeenThemes Inc.</div>
<div class="text-muted">8692 Wild Rose Drive</div>
<div class="text-muted">Livonia, MI 48150</div>
</div>
</div>
<div class="col-sm-6">
<div class="mt-3">
<div class="fw-semibold mb-1">Issued By:</div>
<div class="fw-bold">CodeLab Inc.</div>
<div class="text-muted">9858 South 53rd Ave.</div>
<div class="text-muted">Matthews, NC 28104</div>
</div>
</div>
</div>
-->

          <!-- Items -->
      <div class="mt-4 table-responsive">
  <table class="table table-invoice">
    <thead>
      <tr>
        <th class="min-w-300px">Description</th>
        <th>Qty</th>
        <th>Price</th>
        <th class="text-end">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products  %}
      <tr>
        <td>
          <span class="tiny-dot dot-red"></span>
          {{ product.name }}
        </td>
        <td>{{ product.quantity }}</td>
        <td class="money">{{ product.price }}</td>
        <td class="amount money">{{ product.total }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


          <!-- Totals -->
          {% if totals %}
          <div class="row justify-content-end order-total">
            <div class="col-md-6 col-lg-5">
            {% for total in totals %}
              <dl class="row mb-2">
                <dt class="col-6">{{ total.tile }}:</dt>
                <dd class="col-6 text-end fw-bold money">{{ total.text }}</dd>
              </dl>
            {% endfor %}
            </div>
          </div>
        {% endif %}
        </div>

        <!-- RIGHT: Payment details -->
        <div class="col-lg-4">
          <div class="card side p-4">
            <div class="d-flex d-lg-none gap-2 mb-3">
              <!--              <span class="badge badge-soft-pill badge-approved">Approved</span>-->
              <span class="badge badge-soft-pill badge-pending">{{ order.status }}</span>
            </div>

            <h6 class="mb-3">ORDER DETAILS</h6>
            <dl class="kv mb-4">
              <dt>Customer:</dt>
              <dd class="text-break">{{ order.customer }}</dd>
            </dl>

            <dl class="kv mb-4">
              <dt>Shipping:</dt>
              <dd class="text-break">InStore Purchase</dd>
            </dl>
            <dl class="kv mb-4">
              <dt>Payment Method:</dt>
              <dd class="text-break">{{ order.payment_method }}</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="row g-4 col-lg-5 align-items-center justify-content-center d-flex" style="margin: 0 auto;">
        <a onclick="home();" class="btn btn-primary btn-sm pay-now">Back to Cart</a>
      </div>

    </main>

    <script>
      function home() {
        link_url('bpos/home');
      }
      function link_url(route) {
        $.ajax({
            url: 'index.php?route=' + route + '&format=json',
            type: 'get',
            dataType: 'json',
            success: function(json) {
                if (json['output']) $('#main-content').html(json['output']);
                else $('#main-content').html('<p>No content</p>');
                
            },
            error: function() {
                $('#main-content').html('<p>Error loading content</p>');
            }
        });
    }
    </script>